<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangxiang.dao.mapper.TaskMapper">
  <resultMap id="BaseResultMap" type="com.sangxiang.dao.model.Task">
    <id column="taskid" jdbcType="INTEGER" property="taskid" />
    <result column="userid" jdbcType="INTEGER" property="userid" />
    <result column="create_time" jdbcType="TIMESTAMP" property="createTime" />
    <result column="title" jdbcType="VARCHAR" property="title" />
    <result column="goods_price" jdbcType="REAL" property="goodsPrice" />
    <result column="worker_Num" jdbcType="INTEGER" property="workerNum" />
    <result column="worker_price" jdbcType="REAL" property="workerPrice" />
    <result column="total_price" jdbcType="REAL" property="totalPrice" />
    <result column="state" jdbcType="INTEGER" property="state" />
  </resultMap>
</mapper>