<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sangxiang.dao.mapper.UserMapper">
  <insert id="insert" parameterType="com.sangxiang.dao.model.User">
    insert into user (id, name, phone, 
      age)
    values (#{id}, #{name}, #{phone},
      #{age})
  </insert>

  <select id="getUser" resultType="com.sangxiang.dao.model.User">
        select * from user where id=1
    </select>
</mapper>